* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  
 background:'';
 overflow-x: hidden;
 overflow-y: hidden;
 
}
html{
  overflow-x: hidden;
 overflow-y: hidden;
}
.image{
  position: absolute;
 height:100vh;
 width:100vw;
  background-size: cover;
  background-position: center;
}
.text{
  position: absolute; 
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  background-color:white;
 border:2px solid black;
  box-shadow:2px 2px 2px white;
  font-weight:800;
  width:50vw;
  text-shadow: 5px 5px 4px grey;
  color:green;
  height:60px;


}


.word{
 position: absolute;
  font-size:200%;
  
opacity: 1;
top:50%;
left:50%;
transform:translate(-50%, -50%);
width:100%;
text-align: center;
 /* animation:slide 2s ease-in infinite;*/
  
}
@media screen and (max-width:700px){
  .word{
    font-size:150%;
  }
  

}
@media screen and (max-width:400px){
  .word{
    font-size:125%;
  }
  

}
@keyframes slide{
  0%{
    
  opacity:1;
  }
 
  50%{
    opacity:0;
    left:0%;
  }
  75%{
    opacity:0;
    left:100%;
  }
  100%{
    opacity:1;
   
  }
}
